# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

export PATH=$HOME/.local/bin:$HOME/.cargo/bin:$PATH

export ZSH="$HOME/.config/zsh/oh-my-zsh"

ZSH_CACHE_DIR="$HOME/.cache/ohmyzsh"

ZSH_CUSTOM="$HOME/.config/zsh/custom"

ZSH_THEME="franklin" #based off of "miloshadzic"

HIST_STAMPS="yyyy-mm-dd"

plugins=(git poetry)

source $ZSH/oh-my-zsh.sh

# Preferred editor for local and remote sessions
 if [[ -n $SSH_CONNECTION ]]; then
   export EDITOR='vi'
 else
   export EDITOR='vimr'
 fi

export PAGER='bat'

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.

{{ if eq .chezmoi.os "darwin" -}}
alias nv="vimr"
alias less='bat'
alias cat='bat'
{{ else if eq .chezmoi.os "linux" -}}
alias vim="nvim"
alias nv="nvim"
alias less='bat'
alias cat='bat'
{{ end }}
alias jr="python manage.py runserver"
alias jmm="python manage.py makemigrations"
alias jm="python manage.py migrate"
alias jsu="python manage.py createsuperuser --email franklin@bynumlaw.net --username franklin"
