# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

export PATH=$HOME/.local/bin:$HOME/.cargo/bin:$PATH

plugins=(git python)

# Python plugin config
export PYTHON_VENV_NAME=".venv"
export PYTHON_AUTO_VRUN=true

export ZSH="$HOME/.config/zsh/oh-my-zsh"

ZSH_CACHE_DIR="$HOME/.cache/ohmyzsh"

ZSH_CUSTOM="$HOME/.config/zsh/custom"

ZSH_THEME="franklin" #based off of "miloshadzic"

HIST_STAMPS="yyyy-mm-dd"

{{ if eq .chezmoi.os "darwin" }}

FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

export HOMEBREW_NO_ENV_HINTS=true

{{ end }}

source $ZSH/oh-my-zsh.sh

# Preferred editor for local and remote sessions
 if [[ -n $SSH_CONNECTION ]]; then
   export EDITOR='vi'
 else
   export EDITOR='vim'
 fi

# export PAGER='bat'

export SSH_AUTH_SOCK=~/.1password/agent.sock

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.

# alias less='bat'
# alias cat='bat'
alias vim='nvim'

