# vim: set ft=zsh:

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.config/zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

export PATH=$HOME/.local/bin:$PATH

plugins=(git direnv eza fzf uv zoxide zsh-autosuggestions docker)

export ZSH="$HOME/.config/zsh/oh-my-zsh"

ZSH_CACHE_DIR="$HOME/.cache/ohmyzsh"

ZSH_CUSTOM="$HOME/.config/zsh/custom"

ZSH_THEME="powerlevel10k/powerlevel10k" 

HIST_STAMPS="yyyy-mm-dd"

{{ if eq .chezmoi.os "darwin" }} # MacOS-specific configuation 

export HOMEBREW_NO_ENV_HINTS=true
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"
export PATH=/opt/homebrew/Cellar/texlive/20240312_1/bin:$PATH

FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

{{ end }}

export ZSH_DISABLE_COMPFIX=true

source $ZSH/oh-my-zsh.sh

# Function to check if a systemd user service is running
is_systemd_service_running() {
    systemctl --user is-active --quiet "$1"
    return $?
}

# Function to check if a command exists
command_exists() {
    command -v "$1" >/dev/null 2>&1
    return $?
}

# Set EDITOR based on conditions
if is_systemd_service_running "emacs"; then
    export EDITOR="emacsclient -nw"
elif command_exists "nvim"; then
    export EDITOR="nvim"
else
    export EDITOR="vim"
fi

# Optionally, set VISUAL to the same value
export VISUAL="$EDITOR"

# Prefer bat pager when available
if command_exists "bat"; then
  export PAGER="bat"
else
  export PAGER="less"
fi

#alias l='eza --color=always --color-scale=all --color-scale-mode=gradient --icons=always --group-directories-first'
#alias ll='eza --color=always --color-scale=all --color-scale-mode=gradient --icons=always --group-directories-first -l --git -h'
#alias la='eza --color=always --color-scale=all --color-scale-mode=gradient --icons=always --group-directories-first -a'
#alias lla='eza --color=always --color-scale=all --color-scale-mode=gradient --icons=always --group-directories-first -a -l --git -h'

# export SSH_AUTH_SOCK=~/.1password/agent.sock

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.

for secret_file in ~/.config/secrets/*.env; do
    [ -f "$secret_file" ] && source "$secret_file"
done

# ---- XDG BASE DIRECTORY ---- #
# https://wiki.archlinux.org/title/XDG_Base_Directory
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:="$HOME/.config"}
export XDG_CACHE_HOME=${XDG_CACHE_HOME:="$HOME/.cache"}
export XDG_DATA_HOME=${XDG_DATA_HOME:="$HOME/.local/share"}
export XDG_STATE_HOME=${XDG_STATE_HOME:="$HOME/.local/state"}

# ---- ZSH ---- #
# mkdir -p $XDG_STATE_HOME/zsh/{"history", "sessions"}
export HISTFILE="$XDG_STATE_HOME/zsh/history"
export SHELL_SESSION_DIR="$XDG_STATE_HOME/zsh/sessions"
export SHELL_SESSION_FILE="$SHELL_SESSION_DIR/$TERM_SESSION_ID"

export GNUPGHOME="$XDG_DATA_HOME/openpgp" 
export NPM_CONFIG_USERCONFIG="$HOME/.config/npm/npmrc"

alias nv="nvim"
alias e="emacsclient -nw"
alias m="mutt"

setopt INC_APPEND_HISTORY

# Load toolbox configuration
if [ -f /run/.toolboxenv ]; then
    source /run/.containerenv
    if [ -f ~/.config/containers/toolbox-$name.rc ]; then
        source ~/.config/containers/toolbox-$name.rc
    fi
fi

# To customize prompt, run `p10k configure` or edit ~/.config/zsh/.p10k.zsh.
[[ ! -f ~/.config/zsh/.p10k.zsh ]] || source ~/.config/zsh/.p10k.zsh

